@charset "utf-8";

#main {
    margin-top: 90px;
    overflow-x: hidden;
}

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_grid {
    clear: both;
    width: 100%;
}

#vs {
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: relative;
}

#vs .slide_box {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.3s;
}

#vs .slide {
    flex-shrink: 0;
    width: 25%;
    height: 100%;
}

#vs .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_box {
    position:absolute;
    left: 0;
    bottom: 4%; 
    z-index: 10;
    width: 100%;
    height:24px;
}
.btn_wrap {
    width: 80px;
    margin: 0 auto;
    display: flex;
}
.btn_wrap li {
    width: 25px;
}

.vs_btn {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    border:1px solid #ccc;
    box-shadow: 1px 1px 0px #FFA500;
}

.ra {
    display: none;
}

#s01:checked ~ .slide_box .slide { 
    transform: translateX(0); 
}
#s02:checked ~ .slide_box .slide { 
    transform: translateX(-100%); 
}
#s03:checked ~ .slide_box .slide { 
    transform: translateX(-200%); 
}
#s04:checked ~ .slide_box .slide { 
    transform: translateX(-300%); 
}

#s01:checked ~ .btn_box #vs_btn1 {
    background-color: #FFA500;
}
#s02:checked ~ .btn_box #vs_btn2 {
    background-color: #FFA500;
}
#s03:checked ~ .btn_box #vs_btn3 {
    background-color: #FFA500;
}
#s04:checked ~ .btn_box #vs_btn4 {
    background-color: #FFA500;
}

.tit_box {
    position: absolute;
    top: 130px;
    width: 100%;
    left: 40px;
    color: #F2F2F2;
}

.tit_box h1 {
    display: block;
    text-align: center;
    font-family: 'JejuH';
    text-shadow: 2px 2px 0 #FFA500, 4px 4px 0 #3D2B1F;
}

.slide_tit_1 {
    font-size: 2em;
    
}

.slide_tit_2{
    font-size: 1em;
}

.tit_box h3 {
    text-align: center;
    font-family: 'JejuH';
    text-shadow: 2px 2px 0 #FFA500, 4px 4px 0 #3D2B1F;
    padding-bottom: 0;
}

.tit_box h4 {
    text-align: center;
    font-family: 'JejuH';
    text-shadow: 2px 2px 0 #FFA500, 4px 4px 0 #3D2B1F;
    padding-top: 0;
}