@charset "utf-8";

@font-face {
    font-family: 'JejuH';
    src: url('../fonts/JejuHallasan.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JejuG';
    src: url('../fonts/JejuGothic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JejuM';
    src: url('../fonts/JejuMyeongjo.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiB';
    src: url('../fonts/gyeonggi_title_Bold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiM';
    src: url('../fonts/gyeonggi_title_Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiL';
    src: url('../fonts/gyeonggi_title_Light.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}