@charset "utf-8";

#hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(3, 166, 106, 0.5);
}

#hd .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log img {
    height: 90px;
    width: auto;
}

.gnb:before{
    content: "";
    display: block;
    width: 100vw;
    height: 0;
    overflow-y: hidden;
    background-color: #E4F2F1;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 91px;
    transition: 0.6s;
}

.gnb:hover::before {
    height: 136px;
}

.gnb .menu {
    display: flex;
    height: 90px;
    gap: 20px;
}

.gnb .menu > li {
    min-width: 150px;
    text-align: center; 
    align-content: center;
}

.gnb .menu a.dp1 {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    color: #3D2B1F;
}


.gnb .menu > li:hover a.dp1 {
    color: #03A66A;
    text-shadow: 2px 2px 0 #FFA500;
}

.gnb .sub {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    width: 1000px;
    height: 0px;
    overflow-y: hidden;
    transition: 0.6s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb .menu > li:hover .sub {
    height: 120px;
}

.gnb .menu > li .sub li a {
    display: block;
    padding: 10px 20px;
    margin: 0;
    font-family: "JejuG";
    font-weight: 400;
    font-size: 18px;
    color: #3D2B1F;
    white-space: nowrap;
}

.gnb .menu > li .sub li a:hover {
    color: #FFA500;
    font-weight: 900;
}

.tnb {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tnb_con a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tnb_con a img {
    width: 60px;
    transition: transform 0.2s;
}

.tnb_con a {
    min-width: 85px;
    font-weight: 500;
}

.tnb_con a:hover span {
    font-weight: 700;
    color: #FFA500;
}

.tnb_con a:hover img {
    transform: scale(1.2);
}
