@charset "utf-8";


.main_con {
    clear: both;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.bgi_con {
    width: 100%;
    min-height: 300px;
    margin-top: 90px;
}

.bgi_con::before {
    position: relative;
}

.bgi_con img {
    filter: brightness(75%);
    width: 100%;
}

.tit_con {
    position: absolute;
    width: 100%;
    top: 250px;
    text-align: center;
}

.tit_con h2 {
    color: #fff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.sub_tnb_con {
    width: 100%;
    background-color: #fff;
}

.sub_tnb_con ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #eee;
}

.sub_tnb_con li {
    width: 100%;
    height: 65px;
}

.sub_tnb_con li:nth-child(n) {
    border-left: 1px solid #eee;
}

.sub_tnb_con li:first-child {
    border-left: none;
}

.sub_tnb_con a {
    display: flex;
    font-family: 'JejuG';
    font-size: 18px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.sub_tnb_con a:hover{
    border: 2px solid #03A66A;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

.pagination a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ddd;
    text-align: center;
    color: #666;
    text-decoration: none;
}

.pagination a.active {
    background: #FFA500;
    color: #fff;
    border-color: #FFA500;
}

.active {
    color: #F27405;
}
