@charset "utf-8";

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;
    min-height: 1500px;
    display: block;
}

p.info{
    font-size: 24px;
    text-align: center;
    border-bottom: dashed 1px #e0dce2;
    padding: 27px 0;
}

.festival-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.festival {
    display: grid;
    width: 100%;
    height: 1080px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.festival-info{
    background: #f9f9f9;
    border-radius: 10px;
    width: 300px;
    height: 540px;
    padding:5px;
    text-align: center;
    overflow: hidden;
}

.festival-info img {
    object-fit: cover;
    border-radius: 8px;
    width:100%;
    height:450px;
    cursor: pointer;
}

.festival-info strong {
    font-size: 16px;
    display: block;
    margin: 10px 0 5px;
    color: #333;
}
.festival-info a{
    display: block;
    position: relative;
    text-decoration: none;
}

.festival-info span {
    font-size: 14px;
    color: #555;
}
.festival-info strong {
    font-size: 18px;
    color: #000;
}
.strong {
    font-weight: 900;
    color: #08b2f5;
}
.bold {
    font-weight: 700;
}

.content_bottom img{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding: 50px 50px;
    object-fit: cover;
}

.active{
    color: #F27405;
}