@charset "utf-8";

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;
    min-height: 3600px;
    display: block;
}

p.info{
    font-size: 24px;
    text-align: center;
    border-bottom: dashed 1px #e0dce2;
    padding: 27px 0;
}

.festival-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.festival {
    display: grid;
    width: 100%;
    height: 1080px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.festival-info{
    background: #f9f9f9;
    border-radius: 10px;
    width: 300px;
    height: 540px;
    padding:5px;
    text-align: center;
    overflow: hidden;
}

.festival-info img {
    object-fit: cover;
    border-radius: 8px;
    width:100%;
    height:450px;
}

.festival-info strong {
    font-size: 16px;
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.festival-info span {
    font-size: 14px;
    color: #555;
}
#jan:checked ~ .festival-list .festival-wrapper {
    transform: translateY(0);
}
#feb:checked ~ .festival-list .festival-wrapper {
    transform: translateY(-1080px);
}

/* #mar:checked ~ .m3 { display: grid; }
#apr:checked ~ .m4 { display: grid; }
#may:checked ~ .m5 { display: grid; }
#jun:checked ~ .m6 { display: grid; }
#jul:checked ~ .m7 { display: grid; }
#aug:checked ~ .m8 { display: grid; }
#sep:checked ~ .m9 { display: grid; }
#oct:checked ~ .m10 { display: grid; }
#nov:checked ~ .m11 { display: grid; }
#dec:checked ~ .m12 { display: grid; } */

.strong {
    font-weight: 900;
    color: #08b2f5;
}
.bold {
    font-weight: 700;
}

.active{
    color: #F27405;
}