@charset "utf-8";

.page_tit {
    width: 100%;
    text-align: center;

}

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 100%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;
    height: 480vh;
    display: block;
}

.page_grid{
    width: 100%;
    height: auto;
}

.grid_item{
    display: flex;
    align-items: center;
    width: 90%;
    height: 670px;
    margin: 60px 60px;
    background-color: #f8f8f8;
    border-radius: 10px;
    line-height: 24px;
}

.page_grid_img1{
    float : left;
    margin-left: 30px;
}
.page_grid_img2{
    float : left;
    margin-left: 30px;
}
.page_grid_img3{
    float : left;
    margin-left: 30px;
}
.page_grid_txt1{
    margin: 0 30px;
}
.page_grid_txt2{
    margin: 0 30px;
}
.page_grid_txt3{
    margin: 0 30px;
}
.page_grid_txt p{
    white-space: pre-wrap;
}

.page_grid_info{
    padding-top : 8px;
}

/* .page_grid_bottom{
    width: 1280px;
    height: 280px;
    display : block;
    margin-left : 80px;
} */
.page_grid_info h6{
    text-align: left;
    font-weight: 500;
}

.videocon{
    margin-top : 40px;
    width: 1200px;
    height: 700px;
    overflow: hidden;
    border:1px solid #c0c0c0;
}

#sungsan {
    color: #F27405;
}