@charset "utf-8";

.bgi_con img {
    height: 450px;
}

#main .page {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page_wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.page_tit {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}