@charset "utf-8";

.bgi_con img {
    height: 450px;
}

#main .page {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page_wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.page_tit {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.row1 {
    display: flex;         
    flex-wrap: wrap;      
    gap: 30px;            
    padding: 20px 0;
    width: 100%;
    min-height: 500px;
}

.event_item {
    width: 23%; 
    border: 1px solid #ddd;      
    box-sizing: border-box;
    justify-content: space-between;
}

.event_img {
    position: relative; 
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.event_img span {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.tag_ing { 
    background-color: #ff7e00;
}
.tag_end { 
    background-color: #888;
}

.event_img.is_end img {
    filter: blur(2px) grayscale(50%); 
    opacity: 0.7; 
}

.event_txt {
    padding: 15px;
    background-color: #fff;
}

.event_txt h4 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event_txt p {
    font-size: 14px;
    color: #666;
}

.event_img img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}