@charset "utf-8";

.bgi_con img {
    height: 450px;
}

#main .page {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page_wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.page_tit {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.travel_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 30px 0;
    list-style: none;
    margin-top: 20px;
}

.travel_item .txt_box {
    padding: 20px;
    background-color: #fff;
}

.travel_item .txt_box h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.travel_item .info {
    font-size: 0.9rem;
    color: #666;
    display: flex;
    justify-content: space-between;
}

.travel_item a {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.travel_item .img_box {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.travel_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn_con {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn_write {
    display: inline-block;
    padding: 20px 30px;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}