@charset "utf-8";

h3,h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h3 {
    padding: 50px;
}

h4 {
    padding: 40px;
}

.page_tit {
    width: 100%;
    text-align: center;
}

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
}

.page_tit h5 {
    line-height: 1.5em;
}

.page_content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.air_btn_con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.airport_btn_con, .bus_btn_con {
    border: 3px solid #333;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.air_btn_con a {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
}