@charset "utf-8";

h3,h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h3 {
    padding: 50px;
}

h4 {
    padding: 40px;
}

.page_tit {
    width: 100%;
    text-align: center;
}

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
}

.page_content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img_con ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.img_con li {
    width: 340px;
    height: 450px;
}

.img_con a {
    display: block;
    width: 340px;
    height: 450px;
    overflow: hidden;
}

.img_con img {
    width: 340px;
    height: 340px;
    object-fit: cover;
}

.img_con h5,h6 {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    text-align: center;
}

.page_btn_con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.page_btn_con li {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #bbc6c9;
}

.page_btn_con p {
    padding: 15px;
    font-family: 'GyeonggiB';
    font-size: 28px;
    text-align: center;
}

.page_btn_con a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.page_btn_con img {
    width: 100%;
    height: auto;
}