@charset "utf-8";

#main {
    margin-top: 90px;
    overflow-x: hidden;
}

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1320px;
    min-height: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_grid {
    clear: both;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.login_img_box {
    width: 50%;
}

.login_img {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    width: 600px;
}

.login_img img {
    object-fit: cover;
    object-position: center;
}

.login_page_box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_page {
    width: 500px;
}

.login_page h3 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: #FFA500;
}

#login_form input {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid #FFA500;
    box-sizing: border-box;
}

#login_form input:focus {
    border-color: #3D2B1F;
    outline: none;
}

#login_form input::placeholder {
    text-align: center;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.btn_con {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.btn_con button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.btn_con_ctrl {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto; 
    row-gap: 10px;
    font-size: 14px;
}

.btn_con_ctrl p {
    color: #666;
    margin: 10px;
}

.btn_con_ctrl a {
    color: #3D2B1F;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    margin: 10px;
}

.btn_con_ctrl a:hover {
    color: #FFA500;
    text-decoration: underline;
}