@charset "utf-8";

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 80%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;    
    display: block;
}

.bold {
    font-weight: 700;
}

.grid_item {
    display: block;
    width: 90%;
    height: 520px;
    margin: 60px;
    padding-top: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.page_grid_txt p{
    font-size: 20px;
    line-height: 24px;
    margin: 0 60px;
}

.grid_item_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 60px;
    row-gap: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

figcaption {
    color: #333;
    padding: 3px;
    text-align: center;
    font-size: 20px;
}

.page_con_bottom{
    width: 100%;
    height: 440px;
    text-align: center;
    padding: 0;
}

.page_con_bottom li{
    width : 360px;
    height: 240px;
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid #f2f2f2;
    background-color: #f8f8f8;
    border-radius: 0 0 10px 10px ;
}

.page_con_bottom li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;    
    gap: 10px;
}
.row1 li{
box-shadow: 0 4px 6px -1px #979797;
}

.row1 a {
    cursor: pointer;
    font-size: 20px;
}

.page_con_bottom h4{
    text-align: left;
}

.active{
    color: #F27405;
}