@charset "utf-8";

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 100%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;
    min-height: 2300px;
    height: auto;
    display: block;
}

.page_grid{
    width: 100%;
    height: auto;
}

.grid_item{
    display: flex;
    align-items: center;
    width: 90%;
    height: 450px;
    margin: 60px 60px;
    background-color: #f8f8f8;
    border-radius: 10px;
    line-height: 24px;
}

.page_grid_img1{
    margin-left: 30px;
}
.page_grid_img2{
    margin-right: 30px;
}

.page_grid_img3{
    margin-left: 30px;
}

.page_grid_txt1, .page_grid_txt2, .page_grid_txt3{
    margin: 0 45px;
}

.page_grid_txt1 p, .page_grid_txt2 p, .page_grid_txt3 p{
    line-height: 1.7em;
}

.page_grid_info .info_tit{
    padding-top: 8px;
}
.page_grid_info{
    width: 1280px;
    height: 280px;
    display: block;
    margin-left: 80px;
}
.page_con_bottom h5{
    text-align: left;
}
.info_tit{
    margin-top: 14px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 5px;
}
.page_con_bottom a:hover{
    color: blue;
}
.mapCon2{
    width: 80%;
    height: 480px;
    overflow: hidden;
    margin: 80px;
    border:1px solid #c0c0c0;
}

.con_item{
    border: 1px solid #333;
}

.active{
    color: #F27405;
}