@charset "utf-8";

.page_tit {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.page_tit h3,h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_tit img {
    width: 80%;
    margin-top: 100px;
    object-fit: fill;
}

.page_content {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.content_menu_con {

}

.content_menu_con ul {
    display: flex;
    justify-content: space-between;

}

.content_menu_con li{
    border: 1px solid #333;
    width: 100%;
    height: 65px;
    background-color: #fff;
}

.content_menu_con a {
    display: flex;
    font-family: 'JejuG';
    font-size: 18px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.active {
    color: #F27405;
}