@charset "utf-8";

.row4 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion_con1 {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.promotion_img_con {
    display: flex;
    width: 3000px;
    height: 600px;
    transition: 0.6s;
}

.promiton_slide_con {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 40px;
    overflow-x: hidden;
}

.promotion_img_con img {
    width: 600px;
    height: 600px;
}

.p_btn_box {
    display: flex;
    justify-content: center;
    position:absolute;
    left: 0;
    bottom: 4%; 
    z-index: 10;
    width: 600px;
    height:24px;
}
.p_btn_wrap {
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.p_btn_wrap label {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #bbc6c9;
    transition: 0.6s;
}

.p_ra {
    display: none;
}

#p_ra1:checked~.p_btn_box #p_btn1 {
    background-color: #0477BF;
    width: 50px;
}

#p_ra2:checked~.p_btn_box #p_btn2 {
    background-color: #0477BF;
    width: 50px;
}

#p_ra3:checked~.p_btn_box #p_btn3 {
    background-color: #0477BF;
    width: 50px;
}

#p_ra4:checked~.p_btn_box #p_btn4 {
    background-color: #0477BF;
    width: 50px;
}

#p_ra5:checked~.p_btn_box #p_btn5 {
    background-color: #0477BF;
    width: 50px;
}

#p_ra1:checked~.promotion_img_con {
    margin-left: 0px;
}

#p_ra2:checked~.promotion_img_con {
    margin-left: -600px;
}

#p_ra3:checked~.promotion_img_con {
    margin-left: -1200px;
}

#p_ra4:checked~.promotion_img_con {
    margin-left: -1800px;
}

#p_ra5:checked~.promotion_img_con {
    margin-left: -2400px;
}

.promotion_con2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice_con {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice_con li {
    width: 100%;
    height: 40%;
}

.notice_con li:first-of-type {
    border-bottom: 1px solid #000;
}

.notice_con h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.notice_con h4 {
    height: 10%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.notice_con a {
    display: block;
    font-family: 'GyeonggiB';
    font-size: 24px;
    line-height: 1.5em;
}


.notice_btn_con {
    width: 100%;
    height: 20%;
}

.notice_btn_con a {
    display: block;
    width: 250px;
    height: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    font-weight: 600;
    border-radius: 60px;
    background-color: #048ABF;
    color: #fff;
}

.sns_con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.sns_img_con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 120px;
}

.sns_img_con li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sns_img_con img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}