@charset "utf-8";

.row4 {
    width: 100%;
    border: 1px solid #333;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion_con1 {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    overflow-x: hidden;
}

.promotion_img_con {
    display: flex;
    width: 3500px;
    height: 700px;
    transition: 0.6s;
}

.promotion_img_con img {
    width: 100%;
    height: auto;
}

.btn_box {
    display: flex;
    justify-content: center;
}

.btn_wrap {
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.btn_wrap label {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #bbc6c9;
    transition: 0.6s;
}

#ra1:checked~.btn_box #photo_btn1 {
    background-color: #0477BF;
    width: 50px;
}

#ra2:checked~.btn_box #photo_btn2 {
    background-color: #0477BF;
    width: 50px;
}

#ra3:checked~.btn_box #photo_btn3 {
    background-color: #0477BF;
    width: 50px;
}

#ra4:checked~.btn_box #photo_btn4 {
    background-color: #0477BF;
    width: 50px;
}

#ra5:checked~.btn_box #photo_btn5 {
    background-color: #0477BF;
    width: 50px;
}

#ra1:checked~.promotion_img_con {
    margin-left: 0px;
}

#ra2:checked~.promotion_img_con {
    margin-left: -700px;
}

#ra3:checked~.promotion_img_con {
    margin-left: -1400px;
}

#ra4:checked~.promotion_img_con {
    margin-left: -2100px;
}

#ra5:checked~.promotion_img_con {
    margin-left: -2800px;
}

.promotion_con2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notice_con {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice_con li {
    width: 100%;
    height: 40%;
}

.notice_con li:first-of-type {
    border-bottom: 1px solid #000;
}

.notice_con h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.notice_con h4 {
    height: 10%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.notice_con a {
    display: block;
    font-family: 'GyeonggiB';
    font-size: 24px;
    line-height: 1.5em;
}


.notice_btn_con {
    width: 100%;
    height: 20%;
}

.notice_btn_con a {
    display: block;
    width: 250px;
    height: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    font-weight: 600;
    border-radius: 60px;
    background-color: #048ABF;
    color: #fff;
}