@charset "utf-8";

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1560px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_grid {
    clear: both;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#page3 {
    background-color: #F2F2F2;
    background-image: url();
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    min-height: 50vh;
}

.row3 { 
    display: flex; 
    gap: 40px; 
    align-items: flex-start; 
    padding: 50px 0;
}

.row3_wrap {
    display: flex; 
    gap: 40px; 
    align-items: center; 
}


.f_ra { 
    display: none; 
}

.festival_img_area {
    position: relative;
    width: 450px; 
    height: 590px; 
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.festival_box {
    display: flex; 
    width: 400%;   
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.festival_slide { 
    width: 25%; 
    height: 100%; 
}
.festival_slide img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.festival_text_area {
    width: 400px; 
    height: 500px;
    overflow: hidden; 
    border: 3px solid #ffded6;
}

.text_moving_box {
    transition: transform 0.5s ease-in-out;
}

.festival_text { 
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.festival_text h3 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.festival_text p {
    margin: 30px 30px 0 30px;

}

.fest_btn_box {
    position: absolute; 
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    gap: 10px;
}

.fest_btn {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    border: 2px solid #333; 
    cursor: pointer;
}

#f01:checked ~ .row3 .festival_box { 
    transform: translateX(0); 
}
#f01:checked ~ .row3 .text_moving_box { 
    transform: translateY(0); 
}
#f01:checked ~ .row3 .fest_btn_box label:nth-child(1) { 
    background: #333; 
}

#f02:checked ~ .row3 .festival_box { 
    transform: translateX(-25%); 
}
#f02:checked ~ .row3 .text_moving_box { 
    transform: translateY(-500px); 
}
#f02:checked ~ .row3 .fest_btn_box label:nth-child(2) { 
    background: #333; 
}


#f03:checked ~ .row3 .festival_box { 
    transform: translateX(-50%); 
}
#f03:checked ~ .row3 .text_moving_box { 
    transform: translateY(-1000px); 
}
#f03:checked ~ .row3 .fest_btn_box label:nth-child(3) { 
    background: #333; 
}

#f04:checked ~ .row3 .festival_box { 
    transform: translateX(-75%); 
}
#f04:checked ~ .row3 .text_moving_box { 
    transform: translateY(-1500px); 
}
#f04:checked ~ .row3 .fest_btn_box label:nth-child(4) { 
    background: #333; 
}

.festival_schedule_area {
    width: 550px;
    height: 600px;
    border: 3px solid #ffded6;
    /* background-image: url("../../images/main/schedule.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.schedule_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.schedule_box h3 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.schedule_box .schedule_text {
    margin: 25px 0;
}