@charset "utf-8";

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1560px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_wrap h2 {
    text-align: center;
}

.page_grid {
    clear: both;
    width: 100%;
    box-sizing: border-box;
}

#page1 {
    background-color: #F2F2F2;
    background-image: url();
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    min-height: 50vh;
}

.row1 {
    clear:both;
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: space-around;
    min-height: 400px;
    margin-top: 30px;
}

.row1 .thumb {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    height: 320px;
    margin: 10px;
}

.row1 .thumb img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.row1 .thumb:hover img {
    transform: scale(1.2);
    filter: brightness(1.3);
}

.row1 .thumb .thumb_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; 
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out; 
    z-index: 2; 
}

.row1 .thumb:hover .thumb_content {
    opacity: 0; 
    visibility: hidden; 
    transform: translateY(20px); 
}

.thumb_content h5.tit {
    color: #3D2B1F;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}