@charset "utf-8";

.page {
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1560px;
    margin: 0 auto;
    padding: 0 16px;
}

.page_grid {
    clear: both;
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex
}

#page3 {
    background-color: #F2F2F2;
    min-height: 50vh;
    width: 1560px;
    margin: 0 auto;
}

.row3 { 
    width: 100%;
    margin-top: 50px;
    align-items: center;
}

.row3_wrap {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color: #e0f2f1;
    height: 800px;
}


.f_ra { 
    display: none; 
}

.festival_img_area {
    position: relative;
    width: 450px; 
    height: 590px; 
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.festival_box {
    display: flex; 
    width: 400%;   
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.festival_slide { 
    width: 25%; 
    height: 100%; 
}
.festival_slide img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.festival_text_area {
    width: 500px; 
    height: 590px;
    overflow: hidden; 
    background-color: #fdfdfd;
    border-radius: 15px;
}

.text_moving_box {
    transition: transform 0.5s ease-in-out;
}

.festival_text { 
    height: 590px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.festival_text h3 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.festival_text p {
    margin: 30px 30px 0 30px;

}

.fest_btn_box {
    position: absolute; 
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    gap: 10px;
}

.fest_btn {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    border: 2px solid #333; 
    cursor: pointer;
}

#f01:checked ~ .row3 .festival_box { 
    transform: translateX(0); 
}
#f01:checked ~ .row3 .text_moving_box { 
    transform: translateY(0); 
}
#f01:checked ~ .row3 .fest_btn_box label:nth-child(1) { 
    background: #333; 
}

#f02:checked ~ .row3 .festival_box { 
    transform: translateX(-25%); 
}
#f02:checked ~ .row3 .text_moving_box { 
    transform: translateY(-590px); 
}
#f02:checked ~ .row3 .fest_btn_box label:nth-child(2) { 
    background: #333; 
}


#f03:checked ~ .row3 .festival_box { 
    transform: translateX(-50%); 
}
#f03:checked ~ .row3 .text_moving_box { 
    transform: translateY(-1180px); 
}
#f03:checked ~ .row3 .fest_btn_box label:nth-child(3) { 
    background: #333; 
}

#f04:checked ~ .row3 .festival_box { 
    transform: translateX(-75%); 
}
#f04:checked ~ .row3 .text_moving_box { 
    transform: translateY(-1770px); 
}
#f04:checked ~ .row3 .fest_btn_box label:nth-child(4) { 
    background: #333; 
}
